/*
  !ГЛОБАЛЬНЫЕ
*/
@font-face {
  font-family: "Inter";
  src:  local("inter"),
        url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:  local("inter"),
        url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:  local("inter"),
        url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: bold;
  font-display: swap;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

/*-----------------------------------*/
/*
  ? ПОВТОРЯЮЩЕЕСЯ БЛОКИ
*/

/*
  ШАПКА СОЦСЕТИ
*/
.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.socials__header {
  position: absolute;
  right: 0;
  bottom: 0;
}

.socials__item {
  display: flex;
  margin-right: 16px;
  list-style: none;
}

.socials__item > li.socials__item {
  align-content: center;
}

.socials__link {
  text-decoration: none;
  cursor: pointer;
}

.socials_telegram,
.socials_vkontakte,
.socials_youtube{
  width: 24px;
  height: 24px;
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;
}

/*
  КНОПКИ
*/
.btn {
  display: inline-block;
  padding: 12px 32px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  text-align: center;

  border: 3px solid rgba(255, 47, 100, 0.3);
  border-radius: 52px;
  cursor: pointer;
}

.btn-pink {
  color: #FFFFFF;
  background-color: #FF2F64;
}

.btn-white {
  color: #2D3440;
  background-color: #FFFFFF;
}

.btn-transparent {
  color: #2D3440;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
}

/*
  ПАРАМЕТРЫ ШРИФТА
*/
.bold_font {
  margin: 0;
  font-weight: 700;
}

.title {
  margin: 0;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.title-center {
  font-size: 32px;
  text-align: center;
  font-weight: 900;

}

/*-----------------------------------*/

/*
  *ШАПКА: HEADER
*/
.main__header {
}

.header__navigation {
  display: flex;
  margin: 24px 0;
}
/*
  ЛОГОТИП
*/
.header_logo {
  margin-right: 32px;
}

.header__link_logo {
  cursor: pointer;
}

.logo_image {
}

/*
  НАВИГАЦИЯ
*/
.navigation__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation__list_menu > .navigation__item {
  margin-right: 32px;
}

.navigation__item {
  padding: 0;
  position: relative;
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/*
  НАВИГАЦИЯ: ПОДМЕНЮ
*/
.dropdown {
}

.dropdown::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  background-image: url("../images/icon/navigation__dropdown.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.navigation__header_dropdown {
}

.sub__menu_item {
  list-style: none;
  padding-bottom: 12px;
}

.sub__menu_item-active {
  border-bottom: 1px solid #B9B9B9;
  margin-bottom: 12px;
}

.sub__menu_link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.sub__menu_link-active {
  font-weight: 700;
}

/*
  TODO: ПОЛЬЗОВАТЕЛЬ
*/
.navigation__list_user {
  margin-left: auto;
  padding: 0;
}

.navigation__list_user > .navigation__item{
  margin-left: 16px;
}

.navigation__link .number {
  line-height: 20px;
}

/*
  ПОИСК
*/
.search{

}

.navigation__search {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;

}

.navigation__search_svg {
  margin: 0 auto;
}

.user__search_dropdown {
}

/*
  АВТОРИЗАЦИЯ. КОРЗИНА
*/
.navigation__entry,
.navigation__card {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.3);
  font-size: 14px;
  line-height: 20px;
}

.navigation__entry{
  width: 88px;
}

.entry__dropdown_svg,
.navigation__card_svg {
  margin-right: 8px;
}

.navigation__card{
  width: 120px;
}

/*
  АВТОРИЗАЦИЯ: ПОДМЕНЮ
*/
.entry__account_dropdown {
  width: 420px;
  background: #FCFCFC;
  border-radius: 4px;
}

.btn__entry_dropdown {
}

.auth_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.auth {
}

.sign__subtitle {
}

.sign__auth_form_link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.entry__account_password {
}

.entry__account_registration {
}

/*
  КОРЗИНА: ПОДМЕНЮ
*/
.navigation__card_dropdown {
  width: 441px;
  padding: 48px;
  background: #FFFFFF;
}

.title__dropdown {
}

.navigation__dropdown_list {
  padding: 0;
  border-bottom: 1px solid #E7E7E7;
}

.card__item {
  position: relative;
  padding-left: 62px;
  list-style: none;
}

.card__item::before {
  content: "";
  position: absolute;
  left: 0;
  width: 46px;
  height: 46px;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 50%;
}

.card__item_raspberry::before {
  background-image: url("../images/ice_cream/ice_cream-малинка.png");
}

.card__item_bubble::before {
  background-image: url("../images/ice_cream/ice_cream-баблгам.png");
}

.card__price-for {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.card__remove {
  padding: 0;
  vertical-align: middle;
  background: 0;
  border: 0;
  cursor: pointer;
}

.card__remove::before {
}

.btn__card_dropdown {
  text-decoration: none;
}

/*
  *КОНТЕНТ
*/
.main__index {
}

/*
  TODO: АССОРТИМЕНТ-СЛАЙДЕР
*/
.assortment {
}

.assortment__wrapper {
  margin-bottom: 80px;
}

.assortment__slider {
  position: relative;
  display: flex;
  align-items: center;
}

.assortment__about {
  max-width: 470px;
  margin-right: 50px;
}

.assortment__about > .title{
  margin-bottom: 24px;
}

.description {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

/*
  СЛАЙДЕР: УПРАВЛЕНИЕ
*/
.btn__assortment {
}

.slider_button {
  position: absolute;
  top: 50%;

  width: 38px;
  height: 38px;
  background: rgba(252, 252, 252, 0.3);

  border: 2px solid #FCFCFC;
  border-radius: 26px;

  background-image: url("../images/icon/arrow_slider.svg");
  background-position: center center;
  background-repeat: no-repeat;

  cursor: pointer;
}

.slider-prev {

}

.slider-next {
  transform: rotate(180deg);
}

.slider__point_list {
}

.slider__point_item {
  list-style: none;
}

.slider__point_link {
}

/*
  СЛАЙДЕР: ИЗОБРАЖЕНИЯ
*/
.slider_image{
  position: relative;
  text-align: center;
  margin-right: 75px;
}

.slider_image::before {
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  opacity: 40%;
}

.slider_image-active {
  margin-right: 62px;
  width: 306px;
}

.slider_image-active::before {
  width: 312px;
  height: 312px;
}

.assortment_iceCream_red {

}

.slider_image-thumbnail::before {
  width: 100px;
  height: 100px;
}

.assortment_iceCream_yellow {
}

.assortment_iceCream_blue {
}

/*
  TODO: АКЦИИ
*/
.promotions {
}

.promotions > .title {
  width: 434px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.promotions__list {
  display: flex;
  margin: 0;
  margin-bottom: 81px;
  padding: 0;
}

.promotions__item {
  width: 570px;
  padding: 36px;
  list-style: none;
  background-color: #FF7799;
  background-position: center right;
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.promotions__item:not(:last-child) {
  margin-right: 30px;
}

.promotions__item:first-child {
  background-image: url("../images/background/promotions_малина.png");
}

.promotions__item:nth-child(2) {
  background-image: url("../images/background/promotions_маршмелоу.png");
}

.promotions__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 30px;
}

.populsr__description {
  margin: 0;
  margin-bottom: 28px;
  width: 328px;
}

.btn__promotions {
}

/*
  TODO: ПОПУЛЯРНЫЕ ТОВАРЫ
*/
.bestseller {
  margin-bottom: 80px;
}

.bestseller > .title {
  margin: 0 auto;
  margin-bottom: 107px;
  width: 527px;
}

.bestseller__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.bestseller__item {
  position: relative;
  padding: 24px 40px;
  background-color: #FFFFFF;
  list-style: none;
  border-radius: 8px;
}

.bestseller__item:not(:last-child) {
  margin-right: 30px;
}

.bestseller__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.bestseller__image {
  display: block;
  margin: 0 auto;
  margin-top: -70px;
  margin-bottom: 16px;
}

.bestseller__title {
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
}

.popular__description {
  margin: 0;
  margin-bottom: 20px;
  width: 190px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.popular__price {
  font-size: 20px;
  line-height: 24px;
}

.bestseller__card {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background: #FF2F64;
  border-radius: 26px;
  border: 0;
  cursor: pointer;
}

.bestseller__card::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-image: url("../images/icon/card_bestseller.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

/*
  TODO: ПРЕИМУЩЕСТВА
*/
.advantages {
  margin-bottom: 80px;
  padding: 24px;
  background-image: url("../images/background/advantages.png");
  background-repeat: repeat;
  border-radius: 16px;
}

.advantages__wrapper {
  padding: 56px 40px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.advantages__wrapper > .title {
  margin-bottom: 56px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 90px;
  margin: 0;
  padding: 0;
}

.advantages__item {
  position: relative;
  padding-left: 64px;
  width: 442px;
  list-style: none;
}

.advantages__item::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  vertical-align: middle;
  border: 1px solid #000000;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% auto;
}

.advantages__item:nth-child(1):before  {
  background-image: url("../images/icon/advantages__ice_cream.svg");
}

.advantages__item:nth-child(2):before {
  background-image: url("../images/icon/advantages__cow.svg");
}

.advantages__item:nth-child(3):before{
  background-image: url("../images/icon/advantages__leaf.svg");
}

.advantages__item:nth-child(4):before {
  background-image: url("../images/icon/advantage__sthermometer.svg");
}

.advantages__description {
  margin: 0;
  width: 442px;
  font-size: 16px;
  line-height: 22px;
}

/*
  КОНТЕНТ: ДОПОЛНИТЕЛЬНЫЕ БЛОКИ
*/
.blog__aside {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

/*
  TODO: БЛОГ
*/
.blog {
  width: 570px;
  padding: 32px;
  background-image: url("../images/background/blog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.blog__title {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.topic_title {
  width: 303px;
  font-size: 24px;
  font-weight: 700;
}

.blog__title_link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 24px;
  line-height: 30px;
}

/*
  TODO: ПОДПИСКА
*/
.subscription {
  width: 570px;
  padding: 6px;
  background-image: url("../images/background/subscription.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.subscription__form {
  padding: 32px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.subscription__description {
  margin: 0;
  margin-bottom: 44px;
}

.subscription__field_wrapper {
  display: flex;
  justify-content: space-between;
}

.subscription__field {
  padding: 14px 16px;
  width: 300px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
}

.btn__subscription {
}

/*
  TODO: ФОРМА ОБРАТНОЙ СВЯЗИ
*/
.delivery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
  height: 534px;
  background-image: url("../images/background/delivery.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.delivery__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 371px;
}

.delivery__title{
  font-size: 32px;
  margin-bottom: 24px;
}

.delivery__description {
  margin: 0;
}

.delivery__buy {
  padding: 40px;
  width: 500px;
  min-height: 406px;
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.buy__title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.field__delivery {
  padding: 14px 16px;
  font-size: 16px;
  line-height: 20px;
}

.buy__form {
}

.buy__form_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.buy__label_title {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.buy__form_data,
.buy__form_phone,
.buy__form_adress {
  margin: 0;
}

.buy__form_adress {
  margin-bottom: 32px;
}

.buy__data,
.buy__phone,
.buy__adress {

}

.data__field {
  width: 117px;
}

.phone__field {
  width: 100%;
}

.adress__field {
  width: 100%;
}

.btn__buy {
  display: block;
  margin: 0 auto;
}

/*
  TODO: КОНТАКТЫ
*/
.contacts {
  padding: 64px;
  margin-bottom: 48px;
  height: 492px;
  background-image: url("../images/background/feedback.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.contacts__wrapper {
  padding: 42px;
  width: 343px;
  background: #FCFCFC;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contacts__subtitle {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 400;
}

.contacts__address {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
}

.contacts__phone {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.contacts__working_hours {
  margin: 0;
  margin-bottom: 32px;
  color: #565C66;

}

.btn__feedback {
}

/*
  КОНТАКТЫ: POPUP
*/
.popup {
}

/*-----------------------------------*/

/*
  *CATALOG
*/
.main__inner {
}

/*
  ХЛЕБНЫЕ_КРОШКИ
*/
.inner__header {
}

.inner__title {
}

.breadcrums_list {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  list-style: none;
}

.breadcrumbs__item:not(:last-child) {
  padding-right: 10px;
}

.breadcrumbs__item:last-child {
  border-bottom: 1px solid #000000;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 6px;
  margin-left: 8px;
  vertical-align: middle;
  background-image: url("../images/icon/arraow_breadcrumbs.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.breadcrumbs__link {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs__link-active {
}

/*
  TODO ФИЛЬТРАЦИЯ
*/

.filter__catalog {
}

.filter__catalog_form {
}

/*
  ВЫПАДАЮЩИЙ СПИСОК
*/
.catalog__filter_group {
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog__filter_title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.select__control {
}

/*
  ПОЛЗУНОК
*/
.catalog__filter-price {
  position: relative;
	margin: 0;
	margin-top: 25px;
	padding: 0;
}

.catalog__filter_scale {
  position: relative;
	width: 201px;
	height: 2px;
	margin: 15px 0;
	background: rgba(0, 0, 0, .3);
}

/*Шкала фильтра*/
.catalog__filter_range {
  width: 70px;
  margin-left: 40px;
	height: 2px;
	background: #565C66;
}

/*Ползунки фильтра*/
.range__toggle {
  position: absolute;
	top: -10px;
	width: 20px;
	height: 20px;
	margin-left: 60px;
	cursor: pointer;
	border: 8px solid #2D3440;
	border-radius: 50%;
	background: #FFFFFF;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}

.range__toggle:active {
	transform: scale(1.2);
}

.range__toggle-min {
  left: -35px;
}

.range__toggle-max {
  left: 50px;
}

.filter__price_scale {
	display: inline-block;
	margin-top: 10px;
	vertical-align: top;
	letter-spacing: 0;
  font-size: 14px;
	line-height: 24px;
	opacity: 0.2;
}

.filter__price-min {
  padding-right: 64px;
}

.filter__price-max {}

/*
  РАДИО-КНОПКИ
*/
.catalog__filter_list {
  margin: 0;
  padding: 0;
}

.catalog__filter_item {
  list-style: none;
}

.control__radio {
}

.control__input {
}

/*
  ЧЕКБОКС
*/
.control__checkbox {
}

.btn__catalog_filter {
}

/*
  TODO АССОРТИМЕНТ
*/

.assortment__catalog {
}

.assortment__list {
  margin: 0;
  padding: 0;
}

/*
  КАРТОЧКА-ТОВАРА
*/
.assortment__item {
  padding: 24px 40px;
  background-color: #FFFFFF;
  list-style: none;
}

.assortment__item:not(:last-child) {
  margin-right: 30px;
}

.assortment__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.assortment__title {
  margin: 0;
}

.popular__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assortment__card {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background: #FF2F64;
  border-radius: 26px;
  border: 0;
  cursor: pointer;
}

.assortment__card::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-image: url("../images/icon/card_bestseller.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

/*
  ПАГИНАЦИЯ
*/
.pagination__catalog_list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.pagination__item {
  list-style: none;
}

.pagination__link {
  width: 24px;
  height: 24px;
  padding: 2px 8px;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.pagination-prev {
}

.pagination-prev::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url("../images/icon/arrow_pagination-prev.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.pagination-disabled {
}

.pagination__link-active {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.pagination-next {
}

.pagination-next::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url("../images/icon/arrow_pagination-next.svg");
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.btn__assortment_catalog {
}

/*-----------------------------------*/

/*
  *FOOTER
*/
.main__footer {
  display: flex;
  margin-bottom: 48px;
  justify-content: space-between;
}

.socials__footer {
  align-self: flex-start;
}

.footer__navigation_list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 24px;
  margin: 0;
  margin-left: 250px;
  padding: 0;
  max-width: 400px;
}

.footer__navigation_item {
  position: relative;
  list-style: none;
}

.footer__navigation_item:nth-child(odd) {

}

.footer__navigation_item-like {
}

.footer__navigation_item-like::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -25px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-image: url("../images/icon/Heart-fill.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.footer__navigation_link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.footer__copyright {
}

.footer__image_logo {
}

.footer__madein {
  margin: 0;
}

.footer__сopyright_link {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}
